@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    width: 100vw;
    height: 10vh;
    display: flex;
    padding: 10px 10px 10px 10px;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
    font-family: 'Noto Sans', sans-serif;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: #6C63FF;
    font-size: 14px;

}

.nav-links li a:hover {
    color: darkgray;
}

.hero-page {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero-image {
    width: 400px;
}

.hero-image-container{
    display: block;
    padding-bottom: 50px;
    
}

.hero-tagline-container{
    display: block;
    padding-bottom: 50px;
}

.hero-tagline-container h1 {
    font-family: 'Noto Sans', sans-serif;
    text-align: end;
    font-size: 72px;
    padding-left: 100px;
    padding-right: 100px;
}